* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.logo {
    max-width: 5rem;
}

.abrir-menu,
.cerrar-menu {

    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.abrir-menu svg {
    color: #1c1c1c;
    width: 36px;
    height: 36px;
    background-color: #a4a8e6;
    border-radius: 7px;
}

.cerrar-menu svg {
    width: 30px;
    height: 30px;
    color: #ececec;

}

.cerrar-menu svg:hover {
    background-color: #e31616;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .2);
    width: 250px;
}



.nav-list li a {
    color: #ecececec;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-list {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.nav-list li a:hover {
    color: yellow;
}

h3 {
    color: #ecececec;
    text-decoration: underline;
    font-size: 1.5rem;

}

@media (max-width: 500px) {
    .nav {
        width: 100vw;
    }
}

/* -------------------------------------------------------------------------------------------------- */

/* MAIN */


.contenedor {
    opacity: 0;
    visibility: hidden;
    width: 800px;
    height: 500px;
    background-color: #1c1c1c;
    margin: auto;
    margin-top: 8rem;
}



.nav.visible,
.contenedor.visible {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.formulario {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "reg reg reg msg"
        "int int int msg"
        "sal sal sal msg"
        "btn btn btn msg";

}

#registros{
    grid-area: reg ;
}
#interes{
    grid-area:int ;
}
#salidas{
    grid-area:sal ;
}
#boton-calcular{
    grid-area: btn;
}
.mensaje{
    grid-area: msg ;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#registros,#interes,#salidas{
    width: 89%;
    height: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 3px solid red;
    color: white;

}

#boton-calcular{
    width: 89%;
    height: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}