* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.logo {
    max-width: 5rem;
}

.abrir-menu,
.cerrar-menu {

    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.abrir-menu svg {
    color: #1c1c1c;
    width: 36px;
    height: 36px;
    background-color: #a4a8e6;
    border-radius: 7px;
}

.cerrar-menu svg {
    width: 30px;
    height: 30px;
    color: #ececec;

}

.cerrar-menu svg:hover {
    background-color: #e31616;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .2);
    width: 250px;
}



.nav-list li a {
    color: #ecececec;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-list {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.nav.visible,
.contenedor.visible {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.nav-list li a:hover {
    color: yellow;
}

h3 {
    color: #ecececec;
    text-decoration: underline;
    font-size: 1.5rem;

}

@media (max-width: 500px) {
    .nav {
        width: 100vw;
    }
}

/* -------------------------------------------------------------------------------------------------- */

/* MAIN */

.article{
    background-color: #fff2cb;;
    height: 100vh;
}

.contenedor {
    opacity: 0;
    visibility: hidden;
  }

.formulario{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inputs,.resultado{
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    margin: 0 10px;
    margin-bottom: 15px;
}

.inputs{
    width: 400px;
    height: 400px;
    justify-content: space-between;
}

.resultado{
    width: 400px;
    height: 400px;
}


label{
    margin: 5px 20px;
    color: white;
}
#ventas,#interes,#salidas{
    height: 50px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 4px solid #bd2c2c;
    margin: 0 20px;
    color: white;
    font-size: 1.5rem;
}

#calcular{
    height: 53px;
    width: 150px;
    margin: 0 auto;
    background-color: #bd2c2c;
    color: white;
    font-size: 1.5rem;
    margin-bottom:15px ;
}

.resp{
  
    height: 100%;
    background-color: white;
    margin: 15px;
}

.boton-salir{
    display: flex;
    justify-content: end;
}

#salir{
    width: 50px;
    height: 50px;
    background-color: #bd2c2c;
    color: white;
    font-size: 1rem;
}

h4{
    font-size: 1rem;
    color: white;
    margin: 15px;
}